
.App-logo {
max-width: 50px;
display: block;
margin: 0 auto;
}

.App-header {
margin-top: 30px;
}

.App-footer {
text-align: center;
font-family: monospace;
margin: 55px 0px;
}

a {
color:#835858;
text-decoration: none;
cursor: pointer;
}

a:hover {
color: #d9adad;
text-decoration: none;
cursor: pointer;
}