.App {

max-width: 960px;
margin: 0 auto;
}
.App-logo {
max-width: 50px;
display: block;
margin: 0 auto;
}

.App-header {
padding-top: 30px;
}

.App-footer {
text-align: center;
font-family: monospace;
padding: 55px 0px;
}

a {
color:#835858;
text-decoration: none;
cursor: pointer;
}

a:hover {
color: #d9adad;
text-decoration: none;
cursor: pointer;
}


.sidetext-left{

    position: fixed;
    left: 0;
    bottom: 50%;
    color: #ad9d9d;
    height: 1.5em;
    margin: -25px;
    transform: rotate(
-90deg
);
    font-family: monospace;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.3px !important;

}
              
