.Phonetic {
margin-left:25px;
border: 0.1px solid rgba(105, 105, 105, 0.146);
border-radius:25px;
padding-top:8px;
padding-left:20px; 
box-shadow: 5px 0px #888888 ;
background-color: whitesmoke;
margin-bottom:8px;
}


em {
color: dimgray;
}