.form-inline {
margin-bottom: 25px;
margin-top:25px;
}


.searchbtn {
margin-left:10px;
background-color: #ebd4d4;
border-color:#ebd4d4;
box-shadow: 5px 8px #888888;
border-top-right-radius:30px;
border-bottom-right-radius:30px;
}

.searchbtn:focus,  .searchbtn:hover, .searchbtn:active:focus {
 box-shadow: 5px 8px #888888;
}

.form-control {
box-shadow: 5px 8px #888888;
border-radius: 30px;

}
.form-control:focus {
box-shadow: 1px 10px #888888;
}

h1, h2 {
font-family: monospace;
font-size: 26px;
margin-bottom: 10px;
margin-top: 10px;
}

h2, h3 {
text-align: left;
margin-left: 35px;}

form {
padding-left: 20px;
padding-right:20px;}

.link {
  color: #d9adad;
  cursor: pointer;
text-decoration: line-through;

}


.results-row {
font-size: 14px;
margin-top:20px;
margin-bottom:20px;
margin-left:30px;
}

.results {
text-align: left;
list-style: none;
}
